h4{
    color :black;
    font-size: 18px;
}

h6{
    color :black;
    font-size: medium;
}

p{
    color :black;
    font-size: medium;
}
label{
    color :black;
}

.radio-estagio .form-check-label {
    color: black !important;
}

.radio-estagio input[type="radio"] {
    accent-color: black;
}

html, body, #_dash-app-content {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.card, .card-body {
    height: 100%;
}


